@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orange-color: hsl(31, 77%, 52%);
    --cyon-color: hsl(184, 100%, 22%);
    --dark-cyon: hsl(179, 100%, 13%);
    --white: hsla(0, 0%, 100%, 0.75);
    --bg-color: hsl(0, 0%, 95%);
    --font-size: 15px;
}
.orange-btn{
    color: var(--orange-color);
}

.cryon-btn{
    color: var(--cyon-color);
}

.dark-cryon-btn{
    color: var(--dark-cyon);
}

.attribution { font-size: 11px; text-align: center;
margin-top: 20px; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background: var(--bg-color);
    font-size: var(--font-size);
    font-family: 'Lexend Deca';
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.6;
    width: 100vw;  
    height: 100vh; 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;    
}

.container .box{
padding: 50px 60px 50px 50px;
color: var(--white);
}
.box.box-1{
    background: var(--orange-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
.box.box-2{
    background: var(--cyon-color);
   
}
.box.box-3{
    background: var(--dark-cyon);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.box .image {
    margin-bottom: 25px;
}

.box h1{
    font-family: 'Big Shoulders Display';
    color: var(--bg-color);
    margin-bottom: 30px;
}

.btn{
    display: block;
    padding: 12px 5px ;
    width: 150px;
    background: var(--bg-color);
    border: 2px solid var(--bg-color);
    cursor: pointer;
    margin-top: 55px;
    border-radius: 30px;
    text-align: center;
}

.btn:hover{
    background: transparent;
    /* border: 2px solid var(--bg-color); */
    color: var(--bg-color);
}

@media(max-width: 375px){
    body{
       height: 100%;
    }
    .container{
        flex-direction: column;
        margin: 20px 0;
        width: 90vw;
    }
    .container .box{
        padding: 50px 60px 50px 50px; 
    }
    .box.box-1{
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .box.box-3{
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }
    }